.product .dives {
    position: relative;
    width: 250px;
    height: 350px;
    background-color: #E8E3F7;
    margin: 5px;
    text-decoration: none;
}

.product .picture {
    margin-top: 15px;
    height: 150px;
    width: 150px;
    background-color: yellow;
}

.product .info {
    height: auto;
    width: 240px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
}

.product .info p {
    font-size: 14px;
    margin: 5px 0;
}

.product .title {
    height: 52px;
    text-align: left;
    display: block;
    display: -webkit-box;
    font-size: 15px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#weight {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: gray;
}

.upper {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    display: inline-block;
}

.upper_picture {
    width: 200px;
    height: 200px;
}

.main {
  padding: 0px 10px;
  padding-top: 50px;
  text-decoration: none;
  background-color: black;
}
