.links {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 21px;
    text-decoration: none;
    margin: 0;
}
