{% for animal in animals %}
    <div class="dives" align="center">
        <div class="picture" style="z-index: 100;">
            <img class='container_img' src="{{ animal.picture }}">
        </div>

        <div class="info">
            <b>Common Name: </b> {{ animal.animal_name }}<br>
            <b>Scientific Name: </b> {{ animal.animal_latin_name }}<br>
            <b>Status: </b> {{ animal.status }}<br>
            <b>State: </b> {{ animal.state_name }}<br>
        </div>
    </div>
    <div></div>
{% endfor %}
